body{
    background-color: black;
}

div{
    color: aliceblue;
    padding-left:100px;
    padding-right: 100px;
    text-align: justify;
}

h1 a{
    text-decoration: none;
    color: aliceblue;
}

p a{
  color:green;
 font-size: larger;
 font-weight: 700;
 text-decoration: none;
}

