@import "var";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: $colorDeFondo;
}

.container{
width:auto;
height:auto;
text-align: center;

    .caja{
        background-color: black;
        width:35%;
        display: inline-block;
        color:$colorDeLetras;
        text-align: center;
        margin:$margenes;
        img{
            width:$anchoDeImagen;
            height:$alturaDeImagen;
            margin:$margenes;
        }

    }
}

