$coloDeFondo:gray;
$colorTexto:black;
$padding:4px 5px;
@mixin filaENtradaVertical{
    display: flex;
    flex-direction: row;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.seccion{
background-color: $coloDeFondo;
color:red;
}

.seccion1, .seccion2,.seccion3{
    background-color: $coloDeFondo;
    color:$colorTexto;
    padding: $padding
    ;
}

.seccion2{
    article{
        #Parrafo{
            font-size: larger;
        }
    }
}

@import "navbar";